#top {
    height: 100px;
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#left {
    height: 100%;
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
#content {
    height: 100%;
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
