/* 全体共通 */
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

/* ヘッダ部 */
#header {
    height: 70px;
    /*position: relative;*/
    background-color: #036fab;
    color: #ffffff;
    padding: 5px;
    /*margin: 0px 0px 10px 0px;*/
}

/* メニュー部 */
#menu {
    height: 20px;
    background-color: #ece3a5;
    padding: 5px;
    /*width: 150px;*/
}

/* コンテンツ部 */
#content {
    /*height: 100%;*/
    /*background-color: #dddddd;*/
    padding: 5px;
    /*margin-left: 170px;*/
}

/* 機能名(タイトル) */
h3 {
    border-top: #4169e1 1px solid;
    border-bottom: #4169e1 1px solid;
    padding-bottom: 1px;
    padding-top: 1px;
    color: #153d73;
}

/* 入力項目 */
table.input {
    border-collapse: separate;
    border-spacing: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}
table.input th {
    width: 80px;
    padding: 2px 2px 2px 4px;
    text-align: left;
    color: #ffffff;
    background-color: #153d73;
    border-left: #ff9933 3px solid;
}
table.input td {
    padding: 2px;
    text-align: left;
}

/* 申請照会のタイトル */
div.info {
    color: #ffffff;
    background-color: #369;
    margin-bottom: 10px;
    padding: 2px;
}

/* 照会項目 */
table.ref {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-right: 1px solid #c0c0c0;
}
table.ref th {
    width: 80px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-top: 1px solid #c0c0c0;
    border-left: 3px solid #369;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;

}
table.ref td {
    width: 200px;
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}


/* エラー表示 */
.attention {
    color: #ff0000;
    font-size: 10px;
}

/* 申請作成 */
.repeated-form .ui-datalist-content.ui-widget-content {
    border: none;
}

/* 申請検索の一覧 */
.ui-datatable th {
    background: #153d73;
    color: #ffffff;
}
