html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h3 {
    border-top: #4169e1 1px solid;
    border-bottom: #4169e1 1px solid;
    padding-bottom: 1px;
    padding-top: 1px;
    color: #153d73;
}

table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-right: 1px solid #c0c0c0;
}
table.type03 th {
    width: 80px;
    padding: 5px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-top: 1px solid #c0c0c0;
    border-left: 3px solid #369;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;

}
table.type03 td {
    width: 200px;
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.attention {
    color: #ff0000;
    font-size: 10px;
}

table.make {
    border-collapse: separate;
    border-spacing: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}
table.make th {
    width: 80px;
    padding: 2px 2px 2px 4px;
    text-align: left;
    color: #ffffff;
    background-color: #153d73;
    border-left: #ff9933 3px solid;
}
table.make td {
    padding: 2px;
    text-align: left;
}

div.info {
    color: #ffffff;
    background-color: #369;
    margin-bottom: 10px;
    padding: 2px;
}

.repeated-form .ui-datalist-content.ui-widget-content {
    border: none;
}