html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h3 {
    border-top: #4169e1 1px solid;
    border-bottom: #4169e1 1px solid;
}

table.type03 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-right: 1px solid #ccc;
}
table.type03 th {
	width: 80px;
	padding: 8px;
	font-weight: bold;
	vertical-align: top;
	color: #153d73;
	border-top: 1px solid #ccc;
        border-left: 3px solid #369;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;

}
table.type03 td {
	width: 150px;
	padding: 8px;
	vertical-align: top;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}